.principal {
  padding: 1%;
}

nav {
  box-shadow: -5px 14px 5px #557153;
}

nav,
footer,
.contenedor-formulario {
  background-color: #a9af7e;
}

.contenedor-formulario {
  margin-top: 100px;
  margin: 2%;
  padding: 8% !important;
}

.nav-item {
  border-radius: 10px;
  -webkit-transition: all 0.45s ease !important;
  transition: all 0.45s ease !important;
}

.nav-item :hover {
  -webkit-text-stroke: 1px black;
  background-color: #557153;
  border-radius: 10px;
  -webkit-transition: all 0.45s ease !important;
  transition: all 0.45s ease !important;
}

article p {
  -webkit-text-stroke: 0.2px whitesmoke;
}

.card,
.card img {
  border-radius: 20px !important;
  box-shadow: -5px 14px 5px #557153;
}

.galeria .card {
  background-color: transparent !important;
  border: none !important;
}

.galeria,
.galeria img {
  box-shadow: none;
  border-radius: 5px !important;
}

.galeria .card-body {
  background-color: #a9af7e;
}

main {
  /* border: 3px solid black; */

  margin-top: 10% !important;
  margin-bottom: 5% !important;
}

/* .formulario-productos{
margin-top: 15% !important;
} */

.contenedor-formulario {
  border-radius: 20px !important;
  margin-top: 5%;
  box-shadow: -5px 14px 5px #557153;
}

footer {
  width: 100%;
}

footer img:hover {
  background-color: #557153;
  border-radius: 20px;
}

.articulo {
  margin-top: 4% !important;
}
